<!DOCTYPE html>
<html ng-app="myApp">
    <head> 
        <meta charset="utf8">
        <base href="/">
        <title>Neochat</title>
        <!--<link rel='stylesheet' href='/_assets/css/bootstrap.min.css'>
        <style type='text/css'>
            body {
                padding-top: 70px
            }
        </style>
        <link rel='stylesheet' href='/_assets/css/bootstrap-responsive.min.css'>
        <link rel='stylesheet' href='/_assets/css/app.css'>-->
        <!--<link rel="stylesheet" type="text/css" href="content/css/bootstrap.css">-->
   <link rel="stylesheet" type="text/css" href="content/css/bootmetro-icons.css">
        <link rel="stylesheet" type="text/css" href="/_assets/css_metro/bootmetro.css">
        <link rel="stylesheet" type="text/css" href="/_assets/css_metro/bootmetro-responsive.css">
        <link rel="stylesheet" type="text/css" href="/_assets/css_metro/bootmetro-ui-light.css">
        <% include scripts %>
    </head>
    <body ng-init="loadScopes()">
        <div class="navbar" style = "margin-bottom: 0 !important;">
            <div class="navbar-inner" >                
                    <button class="btn btn-navbar" type='button' data-toggle='collapse' data-target='.nav-collapse'>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href='./index.html'>Neochat</a>
                    <div nav-collapse collapse>
                        <ul class="nav">
                            <li class="active">
                                <a href='./index.html'>Home</a>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <li>
                                <a data-toggle='modal' href='#changeNameModal'> Change my name </a>
                            </li>
                            <li>
                                <a data-toggle='modal' href='#infoModal'> About </a>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>